.alignleft,
img.left {
        float: left;
        margin: 0 5px 5px 0;
}

.alignright,
img.right {
        float: right;
        margin: 0 0 5px 5px;
}

.centered {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 8px;
}

.gravatar {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}

/*
 * Obscure style for hidden labels.  Taken from:
 * http://yaccessibilityblog.com/library/form-labels-visible-and-hidden.html
 */
label.obscure {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
